<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Signup</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
	<fieldset class= 'sign'>
		<legend>Sign Up</legend>
		<% if (messages.error) { %>
			<div><%= messages.error %></div>
		<% } %>
		<form action='/signup' method='POST'>
			<label>Username</label>
			<input type="text" placeholder="Enter Your Username" name="username" required>
		 	<label>Create Password</label>
		 	<input type="password" name="password" required>
		 	<label>Confirm Password</label>
		 	<input type="password" name="cpassword" required>
		 	<button type="submit">Sign up</button>
		</form>
	</fieldset>
</body>
</html>